.menu-icon-flex {
    display:flex;
}

.menu-icon-flex__item {
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-flex__item:hover {
    border-bottom:4px solid  #323232;
}


/*.menu-icon-flex__item--hidden {*/
    /*visibility: collapse;*/
/*}*/

@media screen and (max-width: 500px) {
    .menu-icon-flex__item--hidden {
        visibility: collapse;
        width:0;
    }
}